body{
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
    background-color: black;
    color: green;
}
.head{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    gap: 10px;
}
.box{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
img{
    width: 200px;
    height: 200px;
}